.devnote {
	color: red;
	font-weight: bold;
}
.navbar-default{

}
.navbar-signed-out{
	
}
.login-box{

}
.registration-box{
	
}
.post{
	
}
footer{
	border-top: solid;
}
header{
	border-top: dashed;
	border-color: grey;
}
body{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.entry-container{
	display: block;
	text-align: left;
	padding: 0px;
	width: 100%;
}
.date-posted{
	width: 15%;
	text-align: center;
}
.owner{
	width: 15%;
	line-height: 100%;
}
.post-main{
	width: 65%;
}
.post-edit-submit{

}
.postid{
	visibility: hidden;
}
.post-container div{
	display: inline-block;
	overflow: hidden;
	text-align: left;
	vertical-align: middle;
	border-style: dotted;
	border-width: 0px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0px;
	margin-top: 2px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
}