.devnote {
	color: red;
	font-weight: bold;
}
.navbar-default{

}
.navbar-signed-out{
	
}
.login-box{

}
.registration-box{
	
}
.post{
	
}
footer{
	border-top: solid;
}
header{
	border-top: dashed;
	border-color: grey;
}
body{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}