<div class='login-box'>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script type = "text/javascript" link = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<h2>Login</h2>
	<form action='' method='POST'>
		<label class='label label-danger' for='username'>Username:</label>
		<input class='form-control' type='text' name='username'/>
		<label class='label label-danger' for='password'>Password:</label>
		<input class='form-control' type='password' name='password' />
		<button class='btn btn-primary' type='submit' name="login">Login</button>
	</form>
</div>