<html>
<head>
<meta charset="UTF-8">
<title>Log in</title>
<link rel="stylesheet" href="styleSheet.css">
</head>
<body>
	<nav class = "nav-main">
		<div class = "logo"> Website</div>
			<ul>
				<li>
					<a href="#" class="nav-item">Login </a>
					<div class ="nav-content"> 
						<div class ="nav-sub">
							<ul>
								<li><a href="#"> testing link 1</a></li>
								<li><a href="#"> testing2</a></li>
								<li><a href="#"> testing link for 3</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a href="#" class="nav-item">Homepage </a>
				</li>
				<li>
					<a href="#" class="nav-item">Account </a>
				</li>
				<li>
					<a href="#" class="nav-item">Group </a>
				</li>
				<li>
					<a href="#" class="nav-item">Friends </a>
				</li>
			</ul>
		</nav>
	



</body>
</html>