<header>
	<h1>Placeholder Title</h1>
	<!-- TODO - Make this menu inavigable from the homepage or login page -->
	<nav class="navbar-default">
	    <ul class = "nav nav-tabs">
	        <li><a href="var_host/" title="home">Home</a></li>
	        <li><a href="var_host/groups" title="groups">Groups</a></li>
	        <li><a href="var_host/account" title="account">Account</a></li>
	        <li><a href="var_host/friends" title="friends">Friends</a></li>
			<li><a href="var_host/logout" title="log-out">Log Out</a></li>
	    </ul>
	</nav>
</header>